*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}

body{
    background-color: black;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 25px;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.02);
}

.main-page-center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
}

a:visited{
    color: white;
}

@media screen and (max-width: 1177px){
    iframe{
        width: 330px;
    }
}

@media screen and (max-width: 712px){
    .grid-container{
        grid-template-columns: 1fr;
    }

    iframe{
        width: 550px;
    }

    .main-page-center{
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 556px){
    iframe{
        width: 360px;
    }
}